{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!--? Hero Start -->
<div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap hero-cap2 text-center">
                    <h2>Consultants</h2>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!--? Team Start -->
<div class="team-area section-padding30">
    <div class="container">
            <!-- Section Tittle -->
            {% for department in departments %}
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-tittle text-center mb-100">
                        <h2>{{ department.title }}</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for consultant in department.consultants %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            {% if consultant.display_picture %}
                            <img src="{{ consultant.display_picture.url }}" alt="">
                            {% else %}
                            <img src="{{ consultant.display_picture.url }}" alt="">
                            {% endif %}
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">{{ consultant.name }}</a></h3>
                            <span>{{ consultant.education }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}